@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Croissant";
  src: url("../fonts/CroissantOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
